name: golangci-lint
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=5m
