name: golangci-lint
on: [push, pull_request]
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0

      - uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
